.site-title {
    background-image: url(../images/Delhi_logo2018.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-bottom: 85%;
    position: relative;
    margin-top: 2rem;
    display: block;
}