.site-header {
    position: relative;
    @include breakpoint(medium down) {
//        min-height: 25vw;
//        padding-bottom: 20px;
            min-height: 118px;
            padding-bottom: 8vw;
    }
}

.site-title {
    background-image: url(../images/Delhi_logo2018.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-bottom: 85%;
    position: relative;
    margin-top: 2rem;
    display: block;
}

.site-title-bar {
    position: relative;
    top:0;
    width: 100%;
    a.site-mobile-title {
        width:60%;
        max-width: 180px;
        margin: 0 auto;
        display: block;
        height: 30vw;
        max-height: 85px;
        transition: all .5s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        svg {
            margin-top:-25%;
            .st82, .st80{fill: #fff;}
            transition: all .5s;
        }
        #shapemark,#gate,#wordmark-bg {
            opacity: 0;
            transition: all .5s;
        }
        #logo-tagline{}
        @include breakpoint(large) {
            height: auto;
            transition: all .5s;
        }
        &.expanded {
            max-height: 200px;
            height: auto;
            @include breakpoint(medium) {
                max-width: 240px;
            }
            svg {
                margin-top:0;
                #gate,#shapemark {
                    opacity: 1;
//                    display: block;
                    transition: all .5s;
                }
//              .st0 {fill: #7A002C;}
                .st80{fill: #7A002C;}
            }
        }
    }
}
#mobile-basket-toggle {
    display: none;
}
.mobile-footer-button {
    position: fixed;
    bottom: 0;
    left: 2%;
    right: 2%;
    width: 96%;
    margin-bottom: 10px;
    padding: 1rem;
    z-index: 1000;
}
body.home {
    a.site-mobile-title {
            max-height: 167px;
            height: auto;
            @include breakpoint(medium) {
                max-width: 200px;
            }
            svg {
                margin-top:0;
                #gate,#shapemark {
                    opacity: 1;
                    transition: all .5s;
                }
//              .st0 {fill: #7A002C;}
                .st80{fill: #7A002C;}
            }
        }
}
.title-bar-left {
    justify-content: center;
}
.svg-header {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-image: url(../images/blue-illust2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask: url(../images/menu-shape.svg) no-repeat;
    -webkit-mask-size: 110%;
    -webkit-mask-position: center bottom;
    mask: url(../images/menu-shape.svg) no-repeat;
    mask-size: 110%;
    mask-position: center bottom;
    @include breakpoint(large) {
        display: none;
    }
}

body.page-template-blank {
    header.site-header,footer.footer,nav.off-canvas,nav.navigation.post-navigation,#cookie-law-info-bar,#cookie-law-info-again {
        display: none;
    }
    .main-content {
        padding:15px;
    }
    .position-left.reveal-for-large ~ .off-canvas-content {
        margin-left:0;
    }
}