// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
//    padding-bottom: 10vw;
    #menu-main-menu {
        li {
            text-align: center;
            a{
                padding: .5rem;
                color: $black;
            }
            &:not(:last-child) {
                &:after {
                    content: '';
                    display: flex;
                    margin:0 auto;                    
                    width:20px;
                    border-bottom:1px solid $black;
                    height: 0px;
                }
            }
        }
    }
}
#mobile-menu-toggle {
    margin: .5rem auto 0;
    display: block;
    padding: 1rem .75rem .25rem;
    z-index: 33;
    position: relative;
    
    &::after {
//        width: 80%;
        height: 2px;
        background-color: $black;
        box-shadow: 0 8px 0 $black, 0 16px 0 $black;
    }
}
a.expanded + #mobile-menu-toggle {
    margin-top:1rem;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $red;
//        box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
        content: '';
        transform: rotate(-45deg);
        transform-origin: center;
    }
    
    &:after {
        background-color: $red;
//        width: 80%;
//        height: 2px;
        transform: rotate(45deg);
        transform-origin: center;
        box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    }
}

.off-canvas {
    background-image: url(../images/blue-illust2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
//    &:hover {    background-image: url(../images/blue-photo2.jpg);
//}
  > .off-canvas-content {
    height: 100vh;
    padding: 1rem;

    ul.menu {
        a {
            color: $black;
            font-weight: 600;
            font-size: rem-calc(16);
            position: relative;
            padding-left:0.125rem;
            &:hover,&:focus {
//                padding-left:.125rem;
                background-color: rgba(255,255,255,0.25);
            }
            &:after {
                content:'';
                display: block;
                width:100px;
                height:1px;
                background-color: $black;
                position: absolute;
                bottom:0;
                left:0;
            }
        }
    }
  }

  .menu .current_page_item > a { background-color: $medium-gray; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .current_page_item > a {
      background-color: rgba($white,0.125);
//    background-color: lighten($light-nav-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {

  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: rgba($white,0.4);
    }
  }

  .menu .active > a { background-color: #ccc; }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
