.menu-page {
    .orbit{
        .orbit-bullets button {
            width: auto;
            height: auto;
            border-radius:0;
            padding:10px;
            cursor: pointer;
        }
    }
}
.woocommerce ul.products{
    
    li.product {
        position: relative;
//        padding-bottom:54px;
        form.cart {
//            position: absolute;
//            bottom:0;
            div.quantity {
                float:left;
            }
            button {
                float: left;
                margin-top: 0;
                margin-bottom: 1rem;
                height: 39px;
                border-radius: 0;
            }
        }
    }
}

.product-remove.button.tiny.alert {}

.product-remove {
//    @include button;
//    padding: .5em;
    font-size: 0.75rem;
    font-weight: 800;
//    background-color: $alert-color;
    color: $alert-color;
//    @include tiny;
//    @include alert;
}

.menu-page {
    h2 {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .figure {text-align: center}
    .figure > h3 {
       
        font-family: 'oswald', 'ostrich', 'DIN Condensed', serif; 
        font-size: 1.15rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    .woocommerce {
       ul.products li.product {
//           overflow: hidden;
           h3.product-title {
                font-weight:700;
               
           }
           a {
               -webkit-font-smoothing: subpixel-antialiased;
               -webkit-font-smoothing: antialiased;
               text-shadow: rgba(0,0,0,.01) 0 0 1px;
//               backface-visibility: hidden;    
//               -webkit-filter: blur(-0);
               padding-left:1.75rem;
               padding-right: 1.75rem;
               padding-bottom: .1rem;
               border: 5px solid white;
               &:after {
                       content: '';
//                       display: none;
                       position: absolute;
//                       top:0;
//                       bottom:0;
//                       left:0;
//                       right:0;
                        top: 1px;
                        bottom: -3px;
                        left: -1px;
                        right: -3px;
                       background: url(../images/shape2-yellowline-12.svg);
                       background-size: 100% 100%; 
                       background-repeat:no-repeat;
                   visibility: hidden;
                   }
               &:hover {
//                   zoom: 115%;
//                   transition: zoom 0.2s;
//                   padding-left: .75rem;
//                   padding-right: .75rem;
//                   transform: scale3d(1.125,1.125, 1);
//                   transform: scale(1.125) perspective(1px) translateZ(0);
//                   border: 6px solid lighten($yellow,25%);
//                   transition: transform 0.2s;
//                   transform-origin: center;
                   background-color: lighten($yellow,25%);
                   background: url(../images/shape2-yellow.svg);
                   background-size: 100% 100%; 
                   background-repeat:no-repeat;
                   position: relative;
                   &:after {
                       display: block;
                       visibility: visible;
                   }
               }
               p {
                   font-size:.875rem;
                   line-height: 1.25;
                   color:$body-font-color;
                   margin-bottom: .6rem;
               }
           }
       }
    }
    & > div:nth-child(4n+1) {
        &:after {
            content: url(../images/shape2-green.svg);
            display: none;
        }
       .woocommerce ul.products li.product a:hover {
            background-color: lighten($green,25%);
            background: url(../images/shape2-green.svg);
            background-size: 100% 100%; 
            background-repeat:no-repeat;
           
        }
    }
    & > div:nth-child(4n+2) {
        &:after {
            content: url(../images/shape2-pink.svg);
            display: none;
        }
        .woocommerce ul.products li.product a:hover {
            background-color: lighten($pink,25%);
            background: url(../images/shape2-pink.svg);
            background-size: 100% 100%; 
            background-repeat:no-repeat;
        }
    }
    & > div:nth-child(4n+3) {
        &:after {
            content: url(../images/shape2-coral.svg);
            display: none;
        }
        .woocommerce ul.products li.product a:hover {
            background-color: lighten($coral,25%);
            background: url(../images/shape2-coral.svg);
            background-size: 100% 100%; 
            background-repeat:no-repeat;
        }
    }
    & > div:nth-child(4n+4) {
        &:after {
            content: url(../images/shape2-yellow.svg);
            display: none;
        }
    }
    
}


span.price {
//    font-weight: 900;
    margin-left: .5rem;
    display: inline-block;
    font-weight: 900;
    font-variant-numeric: lining-nums;
      -moz-font-feature-settings: "lnum";
      -webkit-font-feature-settings: "lnum";
      font-feature-settings: "lnum";
}
.tags {
    .New {
        color: transparent;
        font-size:0;
        &:before {
            content: '';
            background-image: url(../images/tag-new.png);
            background-size:contain;
            display: inline-block;
            vertical-align: bottom;
            width: 28px;
            height:26px;
        }
    }
}
.addtocart.reveal {
    background: transparent;
    padding: 1.25em;
    border:0;
    &:before {
        content:'';
        display: block;
        position: absolute;
        top:0.25em;
        bottom:0.25em;
        left:2.25em;
        right:2.25em;
        border-radius: 1.75em;
        z-index:0;
        background-color: $white;
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        left:0.25em;
        right:0.25em;
        top:2.25em;
        bottom:2.25em;
        border-radius: 1.75em;
        z-index:1;
        background-color: $white;
    }
    &> .grid-x {
        height:100%;
    }
}
.addtocart-content {
    position:relative;
    z-index:2;
    background-color: $white;
    padding:1.25em;
}
form.cart {
    .quantity, button.button {
        display: inline-block; 
        margin-bottom: 1rem;
        vertical-align: top;
    }
    .product-title {
        color: $delhi-red;
    }
}
#Basket {
    padding: 1em;
//    position: relative;
    &:before {
        content:'';
        display: block;
        position: absolute;
        top:0;
        bottom:0;
        left:2em;
        right:2em;
        border-radius: 1.75em;
        z-index:0;
        background-color: lighten($coral,25%);
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        left:0;
        right:0;
        top:2em;
        bottom:2em;
        border-radius: 1.75em;
        z-index:1;
        background-color: lighten($coral,25%);
    }
    & > div.woocommerce {
        position:relative;
        z-index:2;
        background-color: lighten($coral,25%);
        padding:1.25em;
    }
    .shop_table h5 {
        font-family: 'oswald', 'ostrich', 'DIN Condensed', serif;
        font-size: 1.15rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    
    .grid-padding-x .grid-padding-x {
        margin-right: -0.425rem;
        margin-left: -0.425rem;
    }
    .grid-padding-x > .cell {
        padding-right: 0.425rem;
        padding-left: 0.425rem;
    }
}
ul.products li.product_cat-mains-traditional,ul.products li.product_cat-british-indian-kitchen{
    a h3.product-title {
        padding-top:0;
        font-size: 1.25rem;
        margin-bottom: 0;
        span.price {
            font-family: "Playfair Display", "Georgia", serif;
            font-size: 1rem;
            font-weight: 900;
            font-variant-numeric: lining-nums;
              -moz-font-feature-settings: "lnum";
              -webkit-font-feature-settings: "lnum";
              font-feature-settings: "lnum";
        }
    }
    p {margin-bottom: 0;}
}
//balti
@import url('https://fonts.googleapis.com/css?family=PT+Serif:700');
li.post-318 h3.product-title,li.post-317 h3.product-title{font-family: 'PT Serif'; font-weight:700; }
//bhuna 
@import url('https://fonts.googleapis.com/css?family=Kalam');
li.post-337 h3.product-title{font-family: 'Kalam';}
//biryani 
@import url('https://fonts.googleapis.com/css?family=Suez+One');
li.post-327 h3.product-title{font-family: 'Suez One';}
//chilli garlic
@import url('https://fonts.googleapis.com/css?family=Roboto');
li.post-347 h3.product-title{font-family: 'roboto';}
//dansak
li.post-357 h3.product-title{font-family: 'rockwell';}
//dupiaza
@import url('https://fonts.googleapis.com/css?family=Lustria');
li.post-367 h3.product-title{font-family: 'Lustria';}
//jalfrezi 
li.post-467 h3.product-title{font-family: 'seagull hv bt';}
//korma
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
li.post-387 h3.product-title{font-family: 'Yellowtail';}
//madras
li.post-397 h3.product-title{font-family: 'amperzand';}
//makhni
li.post-407 h3.product-title{font-family: 'sansserifbldflf';}
//pathia
li.post-417 h3.product-title{font-family: 'brothers ot';}
//rogon josh 
li.post-437 h3.product-title{font-family: 'acme';}
//saagwala 
li.post-447 h3.product-title{font-family: 'amulhed demo';}
//tikka masala 
li.post-514 h3.product-title{font-family: 'Poplar std';}
//vindaloo 
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
li.post-457 h3.product-title{font-family: 'Gochi Hand';}