body.woocommerce,body.woocommerce-checkout {
    .main-container, .grid-container {
        max-width: 70rem;
    }
}
.menu-page {
    &.main-container, .grid-container {
        max-width: 70rem;
    }
}
.menu-page {
    .orbit{
        .orbit-bullets button {
            width: auto;
            height: auto;
            border-radius:0;
            padding:10px;
            cursor: pointer;
        }
    }
}
.woocommerce.columns-4 ul.products{
    
    li.product {
        position: relative;
//        padding-bottom:54px;
        form.cart {
//            position: absolute;
//            bottom:0;
            // div.quantity {
                // float:left;
            // }
            button {
                // float: left;
                margin-top: 0;
                margin-bottom: 1rem;
                height: 39px;
                border-radius: 0;
            }
        }
    }
}

// .product-remove.button.tiny.alert {}

.product-remove {
//    @include button;
//    padding: .5em;
    font-size: 0.75rem;
    font-weight: 800;
//    background-color: $alert-color;
    color: $alert-color;
//    @include tiny;
//    @include alert;
}

.menu-page {
    h2 {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .figure {
        text-align: center;
    }
    .figure > h3 {
        display: inline-block;
        cursor: pointer;
        font-family: 'oswald', 'ostrich', 'DIN Condensed', serif; 
        font-size: 1.15rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
        padding-left: 8px;
        border-bottom: 2px dotted $alert-color;
        &:after {
            content:"";
            background-image: url(../images/arrow-down.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 18px;
            height: 10px;
        }
        &.expanded {
            // margin-top:18px;
            margin-bottom: 18px;
            &:after {
                background-image: url(../images/arrow-up.svg);
            }
        }
    }
    .figure .woocommerce {
        margin-bottom: 1rem;
        // ul.products{
        // &:before {
        //     content:'\27A0';
        //     transform: rotate(-90deg);
        //     position: absolute;
        //     top: -38px;
        //     left: calc(50% - 24px);
        //     font-size: 60px;
        //     transform-origin: center;
        //     color: $white;
        //     z-index: -1;
        // }
    //  }
    }
    .region-wrapper {
        .svg-wrapper {
            height: 15px;
        }
        svg.arrow-up,svg.arrow-down {
            display: flex;
            height: 15px;
            width: 100%;
        }
        // svg.arrow-down {margin-bottom:1rem;}
        ul.products {
        
            border-radius: 18px;
            padding:8px 0px 10px;
            position: relative;
            margin-bottom:0;
            // li:last-child:after {
            //     content:'\27A0';
            //     transform: rotate(90deg);
            //     position: absolute;
            //     bottom: -48px;
            //     left: calc(50% - 26px);
            //     font-size: 60px;
            //     transform-origin: center;
            //     color: $white;
            //     z-index: -1;
            //     clear:both;
            // }
        }
        &:nth-child(4n+1) {
            svg .arrow-fill{fill:lighten($green,30%)}
            ul.products{
                background-color: lighten($green,30%);
                &:before, li:last-child:after {color:lighten($green,30%);}
            }
        }
        &:nth-child(4n+2) {
            svg .arrow-fill{fill:lighten($pink,35%)}
            ul.products {
                background-color: lighten($pink,35%);
                &:before, li:last-child:after {color:lighten($pink,35%);}
            }
        }
        &:nth-child(4n+3) {
            svg .arrow-fill{fill:lighten($coral,30%)}
            ul.products{
                background-color: lighten($coral,30%);
                &:before, li:last-child:after {color:lighten($coral,30%);}
            }
        }
        &:nth-child(4n+4) {
            svg .arrow-fill{fill:lighten($yellow,30%)}
            ul.products{
                background-color: lighten($yellow,30%);
                &:before, li:last-child:after {color:lighten($yellow,30%);}
            }
        }
    }
    .woocommerce.columns-4 {
//        float:left;
        // ul.products {
            
        // }
        
       ul.products li.product {
//           overflow: hidden;
           h3.product-title {
                font-weight:700;
               color:$red;
           }
           a, .product-content-wrapper {
               display: block;
               -webkit-font-smoothing: subpixel-antialiased;
               -webkit-font-smoothing: antialiased;
               text-shadow: rgba(0,0,0,.01) 0 0 1px;
//               backface-visibility: hidden;    
//               -webkit-filter: blur(-0);
               padding-left:1.75rem;
               padding-right: 1.75rem;
               padding-top: .25rem;
               border: 5px solid transparent;
               &:after {
                       content: '';
//                       display: none;
                       position: absolute;
//                       top:0;
//                       bottom:0;
//                       left:0;
//                       right:0;
                        top: 1px;
                        bottom: -3px;
                        left: -1px;
                        right: -3px;
                       background: url(../images/shape2-yellowline-12.svg);
                       background-size: 100% 100%; 
                       background-repeat:no-repeat;
                   visibility: hidden;
                   }
               &:hover {
//                   zoom: 115%;
//                   transition: zoom 0.2s;
//                   padding-left: .75rem;
//                   padding-right: .75rem;
//                   transform: scale3d(1.125,1.125, 1);
//                   transform: scale(1.125) perspective(1px) translateZ(0);
//                   border: 6px solid lighten($yellow,25%);
//                   transition: transform 0.2s;
//                   transform-origin: center;
//                   background-color: lighten($yellow,25%);
                   
//                   background: url(../images/shape2-yellow.svg);
                   background-size: 100% 100%; 
                   background-repeat:no-repeat;
                   position: relative;
                   &:after {
                       display: block;
                       visibility: visible;
                   }
               }
               p {
                   font-size:.875rem;
                   line-height: 1.25;
                   color:$body-font-color;
                   margin-bottom: .6rem;
               }
           }
       }
    }
//    & > div:nth-child(4n+1) {
//        &:after {
//            content: url(../images/shape2-green.svg);
//            display: none;
//        }
//       .woocommerce ul.products li.product a:hover {
//            background-color: lighten($green,25%);
//            background: url(../images/shape2-green.svg);
//            background-size: 100% 100%; 
//            background-repeat:no-repeat;
//           
//        }
//    }
//    & > div:nth-child(4n+2) {
//        &:after {
//            content: url(../images/shape2-pink.svg);
//            display: none;
//        }
//        .woocommerce ul.products li.product a:hover {
//            background-color: lighten($pink,25%);
//            background: url(../images/shape2-pink.svg);
//            background-size: 100% 100%; 
//            background-repeat:no-repeat;
//        }
//    }
//    & > div:nth-child(4n+3) {
//        &:after {
//            content: url(../images/shape2-coral.svg);
//            display: none;
//        }
//        .woocommerce ul.products li.product a:hover {
//            background-color: lighten($coral,25%);
//            background: url(../images/shape2-coral.svg);
//            background-size: 100% 100%; 
//            background-repeat:no-repeat;
//        }
//    }
//    & > div:nth-child(4n+4) {
//        &:after {
//            content: url(../images/shape2-yellow.svg);
//            display: none;
//        }
//    }
    
}


span.price {
//    font-weight: 900;
    margin-left: .5rem;
    display: inline-block;
    font-weight: 900;
    font-family: 'playfair_displayblack', serif;
//    font-variant-numeric: lining-nums;
//      -moz-font-feature-settings: "lnum";
//      -webkit-font-feature-settings: "lnum";
//      font-feature-settings: "lnum";
}
li.product_tag-new {
    h3 > .tags:before {
        content: '';
        background-image: url(../images/tag-new.png);
        background-size:contain;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: bottom;
        width: 29px;
        height:26px;
        margin: 0 3px;
    }
    p > .tags .New {
        display: none;
    }
}
.tags {
    font-weight: bold;
   
    .New {
        color: transparent;
        font-size:0;
        &:before {
            content: '';
            background-image: url(../images/tag-new.png);
            background-size:contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 29px;
            height:26px;
            margin: 0 3px;
        }
    }
    .Da,.GF,.Nu,.Eg,.Mi,.Me,.H,.VH,.V,.Vg {
        color: transparent;
        font-size:0;
        &:before {
            content: '';
            background-size:contain;
             background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 3px 1px;
        }
    }
    .Da:before {background-image: url(../images/allergens/Da.png);}
    .Eg:before {background-image: url(../images/allergens/Eg.png);}
    .GF:before {background-image: url(../images/allergens/GF.png);}
    .Mi:before {background-image: url(../images/allergens/Mi.png);}
    .Me:before {background-image: url(../images/allergens/Me.png);}
    .Nu:before {background-image: url(../images/allergens/Nu.png);}
    .H:before {background-image: url(../images/allergens/H.png);}
    .VH:before {background-image: url(../images/allergens/VH.png);}
    .V:before {background-image: url(../images/allergens/V.png);}
    .Vg:before {background-image: url(../images/allergens/Vg.png);}
}
i.tags { 
    vertical-align: middle;
    line-height: 18px;
}
.addtocart.reveal {
    background: transparent;
    padding: 1.25em;
    border:0;
    &:before {
        content:'';
        display: block;
        position: absolute;
        top:0.25em;
        bottom:0.25em;
        left:2.25em;
        right:2.25em;
        border-radius: 1.75em;
        z-index:0;
        background-color: $white;
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        left:0.25em;
        right:0.25em;
        top:2.25em;
        bottom:2.25em;
        border-radius: 1.75em;
        z-index:1;
        background-color: $white;
    }
    &> .grid-x {
        height:100%;
        text-align: center;
    }
}
.addtocart-content {
    position:relative;
    z-index:2;
    background-color: $white;
    padding:1.25em;
    text-align: center;
}

form.cart,form.woocommerce-cart-form {
    display: flex;
    .quantity, button.button {
        display: inline-flex; 
        // margin-bottom: 1rem;
        vertical-align: top;    
        flex: 0 1 100%;
        margin: 0 .25rem 1rem;
    }
    .product-title {
        color: $delhi-red;
    }
    .td-quantity-button {
        border-radius: 20px;
        padding: 5px 8px;
        margin: 5px 5px;
        height: 24px;
    }
}
form.cart {}
form.cart.composite_form {
    display: flex;
    flex:1 0 100%;
    flex-wrap: wrap;
    .composite_component {
        flex:1 0 100%;
    }
}
#mobile-basket-toggle {
    position: fixed;
    bottom: 0;
    left: 2%;
    right: 2%;
    width: 96%;
    margin-bottom: 10px;
    padding: 1rem;
    z-index: 1000;
    &:after {
        content:'';
        background-image: url('../images/bag-icon.png');
        display: inline-block;
        width: 20px;
        height: 18px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 4px;
        vertical-align: middle;
    }
}
.cart-contents-count {
    background: $coral;
    color: $white;
    font-size: 75%;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    margin-left: 14px;
    top: 12px;
}
#Basket, #order-review-wrapper {
    padding: 1em;
   position: relative;
    // &.sticky.is-stuck.is-at-top {
    //     margin-top: 8em !important;
    //     @include breakpoint(medium) {
    //         margin-top: 15em !important;
    //     }
    //     @include breakpoint(large) {
    //         margin-top: 2em !important;
    //     }
    // }
    .td-quantity-button {
        border-radius: 20px;
        padding: 5px 8px;
        margin: 5px 5px;
        height: 24px;
    }
    &:before {
        content:'';
        display: block;
        position: absolute;
        top:0;
        bottom:0;
        left:2em;
        right:2em;
        border-radius: 1.75em;
        z-index:0;
        background-color: lighten($coral,25%);
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        left:0;
        right:0;
        top:2em;
        bottom:2em;
        border-radius: 1.75em;
        z-index:1;
        background-color: lighten($coral,25%);
    }
    & > div.woocommerce, & > #order_review {
        position:relative;
        z-index:2;
        background-color: lighten($coral,25%);
        padding:.5em;
    }
    h3#order_review_heading {
        position:relative;
        z-index:2;
    }
    .shop_table h5,h3#order_review_heading {
        font-family: 'oswald', 'ostrich', 'DIN Condensed', serif;
        font-size: 1.15rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: center;
    }
    
    .grid-padding-x .grid-padding-x {
        margin-right: -0.425rem;
        margin-left: -0.425rem;
    }
    .grid-padding-x > .cell {
        padding-right: 0.425rem;
        padding-left: 0.425rem;
    }
}
ul.products li.product_cat-mains-traditional,ul.products li.product_cat-british-indian-kitchen{
    a h3.product-title {
        padding: 0.125rem 0;
        font-size: 1.25rem;
        margin-bottom: 0;
        span.price {
            font-family: "Playfair Display", "Georgia", serif;
            font-size: 1rem;
            font-weight: 900;
            font-variant-numeric: lining-nums;
              -moz-font-feature-settings: "lnum";
              -webkit-font-feature-settings: "lnum";
              font-feature-settings: "lnum";
        }
    }
    p {margin-bottom: 0;}
}
//balti
@import url('https://fonts.googleapis.com/css?family=PT+Serif:700');
li.post-318 h3.product-title,li.post-317 h3.product-title{font-family: 'PT Serif'; font-weight:700; }
//bhuna 
@import url('https://fonts.googleapis.com/css?family=Kalam');
li.post-337 h3.product-title{font-family: 'Kalam';}
//biryani 
@import url('https://fonts.googleapis.com/css?family=Suez+One');
li.post-327 h3.product-title{font-family: 'Suez One';}
//chilli garlic
@import url('https://fonts.googleapis.com/css?family=Roboto');
li.post-347 h3.product-title{font-family: 'roboto';}
//dansak
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:600');
li.post-357 h3.product-title{font-family: 'Zilla Slab';}
//dupiaza
@import url('https://fonts.googleapis.com/css?family=Lustria');
li.post-367 h3.product-title{font-family: 'Lustria';}
//jalfrezi 
@import url('https://fonts.googleapis.com/css?family=Lora:700');
li.post-467 h3.product-title{font-family: 'Lora';}
//korma
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
li.post-387 h3.product-title{font-family: 'Yellowtail';}
//madras
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
li.post-397 h3.product-title{font-family: 'Oleo Script Swash Caps';}
//makhni
@import url('https://fonts.googleapis.com/css?family=Poppins:900');
li.post-407 h3.product-title{font-family: 'Poppins';}
//pathia
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
li.post-417 h3.product-title{font-family: 'Lilita One';}
//rogon josh 
@import url('https://fonts.googleapis.com/css?family=Acme');
li.post-437 h3.product-title{font-family: 'acme';}
//saagwala 
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
li.post-447 h3.product-title{font-family: 'Leckerli One';}
//tikka masala 
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');
li.post-514 h3.product-title{font-family: Impact, 'Titillium Web';}
//vindaloo 
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
li.post-457 h3.product-title{font-family: 'Gochi Hand';}