//$red : #8E242C;
$red : #7a002c ; //rgb(122,19,47);
$yellow : #fce621; //rgb(253,198,36);
$blue : #7bccc0 ; //rgb(126,199,190);
$purple : #5e0042; // rgb(93,21,69);
$pink : #ca57a2 ; //rgb(197,88,157);
$coral : #ff5460; // rgb(234,85,99);
$green : #81c771 ;// rgb(133,192,112);

$dark-nav-color: $red;
